

@font-face {
    font-family: "myfont";
    src:url("Kosugi_Maru/KosugiMaru-Regular.ttf")format("opentype")
}

* {
    margin: 0;
    padding: 0;
    font-family: "myfont";
    color: white;
}

header {
    background-color: #deb887;
    
}

header p {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 80px 0;
    font-weight: bold;
}

@media (max-width: 992px){ 
	header p{
		font-size: 30px;
		margin: 100px 0;
		text-align: left;
	}
}

.photo {
    
    width: 100px;
    height: 60px;
    margin: 80px 0;
}

.circle {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #e6bfb2;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    margin: 50px 0;
    text-shadow: 2px 2px 1px #808080;
}

.list a {
    color: white;
}

.list a:hover {
    text-decoration: none;
    color: #e29676;
}

.content {
    background-image: url("hana.jpg");
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: #9fa09e;
    height: 100%;
}

footer ul li {
    list-style: none;
}

footer ul li a:hover {
    text-decoration: none;
    color: #7d7b83;
}

footer ul li a {
    color: white;
}

footer p {
    color: white;
    text-align: right;
}

.footer-list {
    padding: 30px 0;
}

body, #wrapper{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
}

footer{
  margin-top:auto;
}